#Mac changes files
.DS_Store*

#API keys
API*

#Config / Password files
config*

#resources directory
resources/*

#practice directory
practice/*

#modular programmes directory
WIP/*

#ignore sample codes for testing
sample*

#checkpoints directory
checkpoints/*
*checkpoints*
